{% extends 'account/base_account.html.twig' %}

{% block title %}Mon tableau de bord{% endblock %}

{% block body %}
    <h3>Bienvenue sur le dashboard utilisateur</h3>
    <a href="{{ path('app_logout') }}">Déconnexion</a>
{% endblock %}