{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="alert {{ label }}">
            <span class="alert-icon">
                {% if label == "success" %}
                    <i class="fa-solid fa-check fa-xl"></i>
                {% elseif label == "error" %}
                    <i class="fa-solid fa-xmark fa-xl"></i>
                {% elseif label == "notice" %}
                    <i class="fa-solid fa-exclamation fa-xl"></i>
                {% elseif label == "wait" %}
                    <i class="fa-regular fa-clock fa-xl"></i>
                {% endif %}
            </span>
            <span class="alert-content">
                <span class="alert-close"><i class="fa-solid fa-xmark fa-lg"></i></span>
                <span class="alert-title">{{ message }}</span>
            </span>
        </div>
    {% endfor %}
{% endfor %}

<div id="jsAlertBox" class="alert" style="display:none">
    <span class="alert-icon">
        <i class="fa-solid fa-check fa-xl" id="successIcon" style="display:none"></i> {# success #}
        <i class="fa-solid fa-xmark fa-xl" id="errorIcon" style="display:none"></i> {# error #}
        <i class="fa-solid fa-exclamation fa-xl" id="noticeIcon" style="display:none"></i> {# notice #}
        <i class="fa-regular fa-clock fa-xl" id="waitIcon" style="display:none"></i> {# wait #}
    </span>
    <span class="alert-content">
        <span class="alert-close"><i class="fa-solid fa-xmark fa-lg"></i></span>
        <span class="alert-title" id="alertMessage"></span>
    </span>
</div>