{% extends 'admin/base_admin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <h3>Bienvenue sur l'admin</h3>
    <a href="{{ path('admin_logout') }}">Déconnexion</a>
{% endblock %}